    * {
        /*outline: red 1px solid;*/
        margin: 0;
        box-sizing: border-box;
    }
    header {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0 85px;
        height: 60px;

        background-color: #93b7f2;
        -webkit-box-shadow: 0 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    .arrow {
        font-size: 2.5rem;
        padding-top: 5px;
        color: gray;
    }
    #Left {
        float: left;
    }
    #right {
        float: right;
    }
    p {
        flex: 8;
        text-align: center;
        padding-top: 7px;

        font-family: 'Indie Flower', cursive;
        font-size: 1.9rem;
        color: #ffffff;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    /* click me :*/
    .clickMe {
        margin-top: 25px;
    }
    .bell {

        margin-bottom: 8px;
        margin-top: 10px;
        
        font-size: 5rem;
        color: rgba(30, 30, 30, 0.5);

        cursor: pointer;
        transition: all ease 130ms;
    }
    h3 {
        font-size: 1.7rem;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        color: rgba(30, 30, 30, 0.5);
    }
    
    /* ourglass :*/ 
    .ourGlass {
        width: 95vw;
        height: 50vh;
        padding: 45px;

        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

        background-color: rgba(30, 30, 30, 0.1);
    }
    .clock {
        font-size: 11rem;
        color: #93b7f2;
        transition: 130ms all ease;
    }

    /*balance */
    .balance {
        padding: 1% 0%;
    }
    .b {
        display: inline-block;
        font-size: 0.85rem;
        color: rgb(75, 73, 73);
        padding: 0;
        transition: 100ms ease-out all;
    }
    /* footer */
    footer {
        box-sizing: border-box;
        margin: 7px;
        font-size: 0.9rem;
        text-align: center;
        color: rgb(75, 73, 73);
        background-color: rgba(30, 30, 30, 0.1);

    }